<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <controller.Properties.Settings>
            <setting name="PTZname0" serializeAs="String">
                <value>讲台</value>
            </setting>
            <setting name="PTZname1" serializeAs="String">
                <value>讲台+翻译</value>
            </setting>
            <setting name="PTZname2" serializeAs="String">
                <value>讲台+投影</value>
            </setting>
            <setting name="PTZname3" serializeAs="String">
                <value>整个Den</value>
            </setting>
            <setting name="PTZname4" serializeAs="String">
                <value>圣餐</value>
            </setting>
            <setting name="PTZname5" serializeAs="String">
                <value>浸池</value>
            </setting>
        </controller.Properties.Settings>
    </userSettings>
</configuration>